.login-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  place-self: center;
  justify-content: center;
  width: 50%;

  &__btn {
    display: flex;
    place-self: center;
    margin-bottom: 1rem;
  }

  &__header {
    place-self: center;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input {
    max-width: 30rem;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
    height: 8rem;
    width: 30rem;
  }
}
